body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.calculator-container, .graph-container {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background: #e2e2e2;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #35424a;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background: #3c4b5a;
}
